params {
  adapterremoval_1 {
    // Built-in parameters
    args = ""
    }
}


process {
  withName: adapterremoval_1 {
    container = "quay.io/biocontainers/adapterremoval:2.3.2--hb7ba0dd_0"
    // Resources
    
    // Error handling
    
    
    // Results
    // Custom directive
    ext.args = params.adapterremoval_1.args
    
  }
}

